.pricing-table-col-shadow-pro:hover,
.pricing-table-col-shadow-pro:focus,
.pricing-table-col-shadow-pro:active {
	box-shadow: 0 26px 30px;
	border-color: #3a54a5;
}

@media only screen and (max-width: 767px) {
	.flexslider.progression-studios-slider,
	.progression-studios-slider-image-background {
		height: 580px;
		background-size: contain;
	}
}
