{% extends 'pages/default/index.html.twig' %}

{% block title %}FAQs{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <style>
        p {
            text-align: justify;
            color: #5f5f5f;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="page-title-pro">
        <div class="container">
            <div class="row">
                <h1>FOIRES AUX QUESTIONS .</h1>
                <h6>Pour plus d'infos appelez au (+221) 77 489 04 14 / 33 879 31 99  ou par email <a href="mailto:contact@sunucvideo.com">contact@sunucvideo.com</a></h6>
            </div><!-- close .row -->
        </div><!-- close .container -->
    </div><!-- close #page-title-pro -->
    
    <div id="content-pro">
        
        <div class="container">
            
            <div class="row">
                <div class="col-md">
                    
                    <div class="jumbotron jumbotron-fluid jumbotron-pro">
                        <div class="container">
                            <span class="icon-User"></span>
                            <h6 class="light-weight-heading">Entreprise</h6>
                        </div>
                    </div><!-- close .jumbotron -->
                    
                </div><!-- close .col-md -->
                <div class="col-md">
                    
                    <div class="jumbotron jumbotron-fluid jumbotron-pro">
                        <div class="container">
                            <span class="icon-TV"></span>
                            <h6 class="light-weight-heading">Professionnel</h6>
                        </div>
                    </div><!-- close .jumbotron -->
                    
                </div><!-- close .col-md -->
            </div><!-- close .row -->
            
            
            <div class="row">
                <div class="col-md">
                    <h6 class="light-weight-heading">Quel est l’intérêt du CV Vidéo pour mon entreprise ?</h6>
                    <p>
                        -	&nbsp;Dénicher de nouveaux talents notamment de potentiels candidats de la diaspora à la recherche d’opportunité professionnelle au Sénégal.<br>
                        -	&nbsp;Le gain de temps que représente cet outil pour recruter.<br>
                        -	&nbsp;Recruter à travers une vidéo, c’est explorer à la fois le volet  RH ( recrutement, dispositif RH …) et le volet communication interne et externe. <br>

                    </p>
                    <hr>
                    <h6 class="light-weight-heading">Me permet-il d’évaluer les soft skills et les compétences linguistiques ?</h6>
                    <p>
                        Le CV vidéo vise à réduire les erreurs de casting. En regardant une vidéo, on peut réellement cerner la personne que l’on a en face de soi et on verra tout de suite si la personne parle vraiment ou pas l’anglais, le russe ou le mandarin. 
                        Un candidat a beau indiquer sur son CV  ou sur son propril Linked In qu’il est «  à l’aise à l’oral » ou qu’il sait «  gérer son stress » , le recruteur peut difficilement  vérifier ces informations tant qu’il ne l’a pas rencontré. Or Pour certaines fonctions commerciales ou managériales, ces compétences dites « molles » sont particulièrement recherchées. 
                    </p>
                    <hr>
                    <h6 class="light-weight-heading">En quoi est-il avantageux dans le développement de votre marque employeur ?</h6>
                    <p>
                        Une marque employeur solide ne peut pas s’appuyer uniquement sur de belles images en papier glacé ou sur un discours marketing bien huilé. Intégrer la vidéo dans votre processus de recrutement vous permet non seulement de soigner votre « expérience candidat » en véhiculant une image dynamique et innovante, mais également de booster votre attractivité en tant qu’employeur. 
                        Dans un contexte de raréfaction des compétences et de compétition accrue entre les organisations pour attirer de nouveaux talents, il devient indispensable de vous rendre visible auprès de candidats potentiels.
                        Les technologies nous donnent les moyens de voir plus de candidats, plus rapidement et plus loin. Pour résumer l’importance croissante de la vidéo : pour travailler à Dakar, on peut trouver le bon candidat à Paris ou à Singapour.
                    </p>
                </div><!-- close .col-md -->
                
                
                <div class="col-md">
                    <h6 class="light-weight-heading">Qu’est-ce qu’un CV vidéo ?</h6>
                    <p>
                        C’est un complément de la candidature classique, une bande annonce de votre profil. Vous pouvez aller plus loin dans votre démarche de candidature en proposant une courte vidéo ne dépassant pas 2 minutes. 
                        Pour réaliser un CV vidéo, 2 possibilités s’offrent à vous. D’une part, un pitch face caméra ou comment convaincre le recruteur par vos mots. D’autres part, une vidéo animée plus appropriée pour les profils créatifs. 
                        C’est simple, gratuit et plus humain pour les candidats qui démontrent leurs personnalités et leurs motivations de façon innovante !
                    </p>
                    <hr>
                    <h6 class="light-weight-heading">Pourquoi devrais-je faire un CV vidéo ?</h6>
                    <p>
                        Les candidats au CV vidéo avouent gagner en confiance en eux, et déclarent aussi que cet exercice est excellent dans la préparation de l’entretien avec le recruteur. 
                        Le premier objectif de la candidature, c’est d’attirer l’attention du recruteur. Une candidature lue, examinée est déjà une victoire. Sur 100 candidatures classique, une vidéo dans une candidature va surement interpeller le recruteur.  A la place du recruteur, n’iriez-vous pas voir le CV Vidéo d’un candidat par curiosité ? 
                    </p>
                    <hr>
                    <h6 class="light-weight-heading">Mon CV Vidéo peut-il me vendre ?</h6>
                    <p>
                        Le CV Vidéo est un révélateur de talent et un outil de visibilité. Avec les nouveaux moyens de communication notamment les réseaux sociaux, le CV vidéo est une excellente alternative pour se démarquer dans sa recherche d’emploi. Il ouvre des perspectives aux candidats qui veulent se démarquer face à une concurrence toujours plus nombreuse.<br>
                        <strong> ETUDIANT :</strong>&nbsp; Savoir parler de ses compétences pour se révéler auprès des recruteurs ”recherches de stages"<br>
                        <strong> JEUNE DIPLÔMÉ :</strong>&nbsp; Décrocher votre premier emploi<br>
                        <strong> PORTEUR DE PROJET :</strong>&nbsp; Présenter votre concept et trouver des partenaires<br>
                        N’oubliez pas l’objectif : vous démarquer et attirer !
                    </p>
                </div><!-- close .col-md -->
            </div><!-- close .row -->
            
            
            <div class="clearfix"></div>
        </div><!-- close .container -->
        
    </div><!-- close #content-pro -->
{% endblock %}