.dashboard-secteur-pro {
	margin: 0 0 40px;
	padding: 22px 30px;
	text-align: center;
	border-bottom: 1px solid #e7e7e7;
}

.dashboard-secteur-pro .swiper-wrapper .swiper-slide img {
	margin-bottom: 8px;
	width: 60px;
}

.dashboard-secteur-pro .swiper-wrapper .swiper-slide h6 {
	font-size: 12px;
	font-weight: 400;
	color: #666;
	margin-bottom: 0;
}
.dashboard-secteur-pro .swiper-wrapper .swiper-slide {
	margin: 0;
	padding: 10px 6px;
	border: 2px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}
.dashboard-secteur-pro .swiper-wrapper .swiper-slide.active {
	border: 2px solid;
	border-radius: 10px;
	border-color: #f18521;
}

.swiper-button-next,
.swiper-button-prev {
	background-size: 20px 40px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 5px;
}

.item-playlist-text-skrn {
	height: 120px;
	padding: 38px 10px 20px;
}
