.btn.link-edit {
	margin: 10px;
	padding: 0 10px;
}
.titre-rubrique {
	text-transform: capitalize;
}
.content-sidebar-section {
	margin-bottom: 20px;
}
h4.content-sidebar-sub-header {
	margin-bottom: 0;
}
/* ====================== MODAL ====================== */
.modal-dialog .modal-content {
	border: 1px solid rgba(241, 133, 33, 0.32);
	box-shadow: 0 26px 30px rgba(241, 133, 33, 0.32);
}
/* ====================== POPOVER ====================== */
.popover {
	border: 1px solid rgba(58, 84, 165, 0.45);
}
.bs-popover-auto[x-placement^=left] > .arrow::before,
.bs-popover-left > .arrow::before {
	border-left-color: rgba(58, 84, 165, 0.45);
}
.bs-popover-auto[x-placement^=left] > .arrow::after,
.bs-popover-left > .arrow::after {
	border-left-color: rgba(58, 84, 165, 0.45);
}
.popover-body {
	padding: .5rem 1rem .5rem .3rem;
	width: 300px;
}

.popover-body em.fa-info-circle {
	font-size: 18px;
	position: relative;
	top: 2px;
	color: #3a54a5;
}

/* ====================== TIMELINE ====================== */
ul.timeline {
	list-style-type: none;
	position: relative;
}
ul.timeline:before {
	content: ' ';
	background: #d4d9df;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 400;
}
ul.timeline > li {
	margin: 20px 0;
	padding-left: 20px;
}
ul.timeline > li:before {
	content: ' ';
	background: white;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #f18521;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 400;
}

/* ====================== CARD  ====================== */

.entreprise-exp {
	font-weight: 700;
	color: #f18521;
	text-transform: uppercase;
}

.intitule-exp {
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 1);
	font-weight: 900;
}

.date-exp {
	font-size: 0.8rem;
}

.lieu-exp {
	font-size: 0.8rem;
}

.date-exp,
.lieu-exp {
	font-weight: 600;
	color: rgba(0, 0, 0, .6);
}

.description-exp {
	color: #000000;
}
