<nav id="sidebar-nav">
    <!-- Add class="sticky-sidebar-js" for auto-height sidebar -->
    <ul id="vertical-sidebar-nav" class="sf-menu">
        <li class="normal-item-pro">
            <a href="{{path('professionnel_dashboard')}}">
                <span class="icon-Home"></span>
                Tableau de bord
            </a>
        </li>
        <li class="normal-item-pro">
            <a href="{{path('professionnel_profil')}}">
                <span class="icon-User"></span>
                Mon profil
            </a>
        </li>
        <li class="normal-item-pro">
            <a href="#!">
                <span class="icon-Movie"></span>
                Vidéothèque
            </a>
        </li>
        <li class="normal-item-pro">
            <a href="{{path('professionnel_offre_liste')}}">
                <span class="icon-Email"></span>
                Offres d'emploi
            </a>
        </li>
        <li class="normal-item-pro">
            <a href="#!">
                <span class="icon-Clock"></span>
                Coming Soon
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</nav>