<nav id="mobile-navigation-pro">

    <ul id="mobile-menu-pro">
        <li>
            <a href="{{path('professionnel_dashboard')}}">
                <span class="icon-Home"></span>
                Tableau de bord
            </a>
        <li>
        <li>
            <a href="{{path('professionnel_profil')}}">
                <span class="icon-User"></span>
                Mon profil
            </a>
        </li>
        <li>
            <a href="#!">
                <span class="icon-Movie"></span>
                Vidéothèque
            </a>
        </li>
        <li>
            <a href="dashboard-new-arrivals.html">
                <span class="icon-Movie-Ticket"></span>
                New Arrivals
            </a>
        </li>
        <li>
            <a href="dashboard-coming-soon.html">
                <span class="icon-Clock"></span>
                Coming Soon
            </a>
        </li>
        <li>
            <a href="#!">
                <i class="far fa-bell"></i>
                <span class="user-notification-count">3</span>
                Notifications
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</nav>