<nav id="mobile-navigation-pro">

    <ul id="mobile-menu-pro">
        <li>
            <a href="{{path('professionnel_dashboard')}}">
                <span class="icon-Home"></span>
                Tableau de bord
            </a>
        </li>
        <li>
            <a href="{{path('professionnel_profil')}}">
                <span class="icon-User"></span>
                Mon profil
            </a>
        </li>
        <li>
            <a href="#!">
                <span class="icon-Movie"></span>
                Vidéothèque
            </a>
        </li>
        <li>
            <a href="#!">
                <span class="icon-Email"></span>
                Offres d'emploi
            </a>
        </li>
        <li>
            <a href="#!">
                <span class="icon-Clock"></span>
                Coming Soon
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</nav>